# ---- Compiled Object Files ----
*.o
*.obj

# ---- Executables ----
*.exe
*.out

# ---- Build Directories ----
/build

# ---- IDE Specific ----
.vscode/

# ---- Backup & Temp Files ----
*.swp
*.log

# ---- OS-specific Files ----
.DS_Store
